obj
bin
debug
_ReSharper.*
_Published
*.Publish.xml
*.csproj.user
*.ReSharper.user
*.ReSharper
*.sln.DotSettings.user
*.suo
*.cache
*~
~*.tmp
~*.doc
~*.docx
~*.xls
~*.xlsx
~*.~vsd
*.swp
*.dbproj.user
*.dbmdl
error-*.xml
*.docstates
*.docstates.suo
min.*.*.css
min.*.*.js